// ——————————————————————
// Easing
// ——————————————————————
$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); 

// ——————————————————————
// Colors
// ——————————————————————
$blue:#163b75; //1f4491  103471
$gray:#616b7b; 

$orange:#fe8021;
$blue_dark:#0a285a;
$blue_med:#4384be;
$blue_light:#64aedf;

$gray_light:#f9f8f6; //f6f4f2


// ——————————————————————
// Shadows
// ——————————————————————
$shadow_header:0 0 15px 0 rgba(97,107,123,0.35);
$shadow_menu:0 10px 15px 0 rgba(97,107,123,0.35);







